%div.users
  %h1 Listing users
  %table#users-table.table.table-striped.table-bordered.dataTable{"data-order" => "[[ 0, \"desc\" ],[ 1, \"asc\" ], [ 2, \"asc\" ],[ 3, \"asc\" ],[ 4, \"asc\" ],[ 5, \"desc\" ]]", "data-page-length" => "25"}
    %thead
      %tr
        %th Updated At
        %th Name
        %th Email
        %th Title
        %th Phone number
        %th Status
        %th
        %th

    %tbody#users
      - @users.each do |user|
        = render partial: 'table_row', locals: {user: user}


  %br
  :javascript
    $(document).ready(function() {
      $('#users-table').DataTable();
    });

= render 'dialog'


